<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontello.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato" rel="stylesheet">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <div id="container">
        <nav>
            <table>
                <tr>
                    <td><a href="{% url 'home' %}"><div id="div_td"><i class="demo-icon icon-home"></i></div></a></td>
                    <td><a href="{% url 'sites' %}"><div id="div_td">BUDOWY</div></a></td>
                    <td><a href="{% url 'materials' %}"><div id="div_td">MATERIAŁY</div></a></td>
                    <td><a href="{% url 'machines' %}"><div id="div_td">MASZYNY</div></a></td>
                    <td><a href="{% url 'contractors' %}"><div id="div_td">WYKONAWCY</div></a></td>
                    <td><a href="{% url 'providers' %}"><div id="div_td">DOSTAWCY</div></a></td>
                    <td><a href="{% url 'calendar' %}"><div id="div_td">KALENDARZ</div></a></td>
                    <td><a href="{% url 'contacts' %}"><div id="div_td">KONTAKTY</div></a></td>
                    <td><a href="{% url 'blog' %}"><div id="div_td">BLOG</div></a></td>
                    <td><a href="{% url 'logout' %}"><div id="div_td"><i class="icon-user"></i>LOGOUT</div></a></td>
                </tr>
            </table>
        </nav><br/>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        <footer>SM site management version 1.0 - 2018 &copy; Tobiasz Kazanowski
            <a href="mailto: tobiaszkazanowski@gmail.com">
                <i class="icon-mail-1"></i> tobiaszkazanowski@gmail.com</a></footer>
    </div>
</body>
</html>