
{% extends 'base.html' %}

{% block title %}SM site management{% endblock %}

{% block content %}

    <h1 id="h1_home">Witaj {{ user }}!</h1>

    <a href="{% url 'sites' %}">
        <div class="tile" id="tile1">
            <i class="icon-shop"></i><br/>BUDOWY
        </div>
    </a>
    <a href="{% url 'materials' %}">
        <div class="tile" id="tile2">
            <i class="icon-layers"></i><br/>MATERIAŁY
        </div>
    </a>
    <a href="{% url 'machines' %}">
        <div class="tile" id="tile3">
            <i class="icon-wrench"></i><br/>MASZYNY
        </div>
    </a>
    <a href="{% url 'contractors' %}">
        <div class="tile" id="tile4">
            <i class="icon-group"></i><br/>WYKONAWCY
        </div>
    </a>
    <a href="{% url 'providers' %}">
        <div class="tile" id="tile5">
            <i class="icon-truck"></i><br/>DOSTAWCY
        </div>
    </a>
    <a href="{% url 'calendar' %}">
        <div class="tile" id="tile6">
            <i class="icon-calendar"></i><br/>KALENDARZ
        </div>
    </a>
    <a href="{% url 'contacts' %}">
        <div class="tile" id="tile7">
            <i class="icon-users"></i><br/>KONTAKTY
        </div>
    </a>
    <a href="{% url 'blog' %}">
        <div class="tile" id="tile8">
            <i class="icon-doc"></i><br/>BLOG
        </div>
    </a>
{% endblock %}

<!--<i class="icon-users"></i>-->
<!--<i class="icon-truck"></i>-->
<!--<i class="icon-mail-1"></i>-->
<!--<i class="icon-user"></i>-->
<!--<i class="icon-doc"></i>-->
<!--<i class="icon-shop"></i>-->
<!--<i class="icon-calendar"></i>-->
<!--<i class="icon-attach"></i>-->
<!--<i class="icon-group"></i>-->
<!--<i class="icon-wrench"></i>-->
<!--<i class="icon-cart"></i>-->
<!--<i class="icon-th"></i>-->
<!--<i class="icon-layers"></i>-->
<!--<i class="icon-mail-alt"></i>-->