{% extends 'base.html' %}

{% block title %}Sprzęty{% endblock %}

{% block content %}
    <h1>Dostępne maszyny</h1>

    <h2>Wyszukaj maszyny</h2>
    <div class="normalcontent">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Szukaj..." />
        </form><br/>
    </div>

    <table class="materialstable">
        {% if searchmachines %}
        <tr>
            <td>Maszyna</td>
            <td>Opis</td>
            <td>Budowa</td>
            <td>Cena</td>
            <td>Operator</td>
            <td>Telefon</td>
        </tr>
        {% endif %}
    {% for machine in searchmachines %}
        <tr>
        <td>{{machine.name}}</td>
        <td>{{ machine.description }}</td>
        <td>{%for site in machine.sites.all %} {{ site.name }} {% endfor %}</td>
        <td>{{ machine.price }}{{ machine.unit }}</td>
        <td>{{ machine.operator }}</td>
        <td>{{machine.operator_phone}}</td>
    </tr>
    {% endfor %}
    </table>


    <h2>Zestawienie maszyn</h2>
    <table class="materialstable">
        <tr>
            <td>Maszyna</td>
            <td>Opis</td>
            <td>Budowa</td>
            <td>Cena</td>
            <td>Operator</td>
            <td>Telefon</td>
        </tr>
    {% for machine in machines %}
        <tr>
            <td>{{machine.name}}</td>
            <td>{{ machine.description }}</td>
            <td>{%for site in machine.sites.all %} {{ site.name }} {% endfor %}</td>
            <td>{{ machine.price }}{{ machine.unit }}</td>
            <td>{{ machine.operator }}</td>
            <td>{{machine.operator_phone}}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}