
{% extends 'base.html' %}

{% block title %}Materiały{% endblock %}

{% block content %}
    <h1>Dostępne materiały</h1>

    <h2>Wyszukaj materiał</h2>

    <div class="normalcontent">
        <form method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Szukaj..." />
        </form><br/>
    </div>

    <table class="materialstable">
        {% if search %}
        <tr>
            <td>MATERIAŁ</td>
            <td>OPIS</td>
            {% for site in sites %}
            <td>{{site.name}}</td>
            {% endfor %}
        </tr>
        {% endif %}
    {% for key, value in search.items %}
        <tr>
            <td>{{ key.name }}</td>
            <td>{{ key.description }}</td>
            {% for site in value %}
            {% if site %}
            <td>{{ site.qty }}{{ site.materials.unit }}</td>
            {% else %}
            <td>-</td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>


    <h2>Zestwienie materiałów</h2>
    <table id="sortable" class="materialstable">
        <thead>
            <td onclick="sortTable(0)">MATERIAŁ ▼▲</td>
            <td>OPIS</td>
            {% for site in sites %}
            <td>{{site.name}}</td>
            {% endfor %}
        </thead>

        {% for key, value in results %}
            <tr>
                <td>{{ key.name }}</td>
                <td>{{ key.description }}</td>
                {% for site in value %}
                {% if site %}
                <td>{{ site.qty }}{{ site.materials.unit }}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}

    </table>

    {% if results.has_other_pages %}

        <ul class="pagination">
            {% if results.has_previous %}
                <li><a href="?page={{ results.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li>&laquo;</li>
    {% endif %}

        {% for i in results.paginator.page_range %}
            {% if results.number == i %}
                <li>{{ i }}</li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if results.has_next %}
            <li><a href="?page={{ results.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li>&raquo;</li>
        {% endif %}
        </ul>
        {% endif %}

{% endblock %}

